.block {
    border: 1px solid #000;
    width: 1090px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
}

.block-title{
    /* border: 1px solid #000; */
    text-align: center;
    border-radius: 20px;
}

.CardLayout{
    border-radius: 20px;
    /* border: 1px solid #000; */
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

