.Cards-img{
    /* border: 1px solid #000; */
    height: 150px;
    position: relative;
}

.ramka{
    position: absolute;
    top: 60px;
    left: 20px;
    border: 4px solid #fff;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.ramka img {
    margin-left: 10px;
    transform: scale(1.2);
}